.messages {
    margin: 3vh auto;
    padding: 2vw;
    height: 60vh;
    border: solid gray 3px;
    border-radius: 40px;
    box-shadow: -1px -1px 3px 1px gray;
    word-wrap: break-word;
    overflow-x:hidden;
}