.leftbar{
  margin-top: 10px;
  height: 87vh;
  background-color: #ff8b38;
  border-radius: 30px;
  box-shadow: 1px 1px 3px 2px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul{
    padding: 0;
  }
  li{
    margin-top: 10px;
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
  }
  a:hover{
    color: gray;
  }
}