.navbar{
  background-color: #ff8b38;
  width: 100%;
  box-shadow: 0 1px 3px 1px gray;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navbar-flex {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  .log-name{
    margin-right: auto;
  }
  .logout-btn{
    background-color: transparent;
    width: fit-content;
    color: white;
    border:none;
    &:hover{
      color: gray;
    }
  }
  a {
    margin: 0 20px;
    color: white;
    padding: 10px;

  }
  a:hover{
    color: gray;
    border: gray;
  }
  a.active {
    border: solid white 3px;
    border-radius: 20px;
    text-decoration: none;
  }
  .phalcon.active{
    border: none;
  }
}
