.navrow{
  background-color: lightgray;
  width: 100%;
  .logo{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 40px;
  }
  .log-name {
    font-size: 30px;
    font-weight: 900;
    margin-top: 10px;
  }
  .sign{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
  }
  a{
    color: black;
  }
  a.active{
    color:indianred;
  }
}
