.login-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: fit-content;
  border: solid black 2px;
  border-radius: 8px;
  background: white;

  .header{
    font-size: 26px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0;
    opacity: 0.8;
  }

  .form-control{
    width: 300px;
    margin: 30px;
    margin-bottom: 20px;
    border: #E353D5 solid 2px;
  }

  .btns{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  .login-btn {
    padding: 3px 25px;
    border: none;
    border-radius: 5px;
    background: #E353D5;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.25);
    color: white;

    &:active , &:focus{
      outline: none !important;

    }
  }

  .forgot-btn {
    font-size: 12px;
    background: none;
    border: none;
    font-weight: 700;
    opacity: 0.6;
    transition: all 0.5s;
    &:hover{
      opacity: 1;
    }
  }

}