.registration-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 60vh;
  margin: auto;
  form{
    width: 40%;
    p{
      margin-left: 20px;
      font-size: 18px;
      font-weight: 500;
    }
  }
  .btn{
    background-color: #ff8b38;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    text-align: center;
  }
  .reg-p{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  input, button{
    margin: 10px;
  }
  input{
    border-radius: 20px;

  }

}